body {
    background-color: #011E33;
    color: white;
}

.card {
    background: #44AFFC;
    padding: 20px;
    padding-top: 5px;
    border-radius: 40px;
    width: 300px;
    font-family: Arial;
    margin: 20px 0;
}

.card-charging-link {
    display: block;
    width: 300px;
    background: #44AFFC;
    padding-bottom: 10px;
    padding-top: 1px;
    border-radius: 50px;
    font-family: Arial;
    margin: 20px 0;
    /* cursor: default; */
    color: white;
    text-decoration: none;
    text-align: center;
    transition: transform 0.2s ease, box-shadow: 0.2s ease;
}

.card-charging-link:hover {
    transform: scale(1.03);
    box-shadow: 4px 4px 12px rgba(0,0,0,1);
}

.links {
    /* color: #44AFFC; */
    color: #024E85;
}

.item {
    margin: 10px 0;
}

.item span {
    font-weight: bold;
}
