body {
    background-color #003300;
}

.card {
    background: #b3ffb3;
    padding: 20px;
    padding-top: 5px;
    border-radius: 40px;
    width: 300px;
    font-family: Arial;
    margin: 20px 0;
}

.item {
    margin: 10px 0;
}

.item span {
    font-weight: bold;
}
