body {
    background-color #003300;
}

.card {
    background: #b3ffb3;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    font-family: Arial;
}
.item {
    margin: 10px 0;
}
.item span {
    font-weight: bold;
}
