
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crna strijela</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    <h1>Crna strijela</h1>
        <p>My page for using Tesla Fleet API.</p>
        <br>

        {% if page == "me" %}
        <div class="card">
            <h3> Owner info </h3>
            <div class="item">Full Name: <span>{{ data.response.full_name }}</span></div>
            <div class="item">E-mail: <span>{{ data.response.email }}</span></div>
        </div>

        {% elif page == "drivers" %}
        <div class="card">
            <h3> Drivers info </h3>
            <div class="item">First Name: <span>{{ data.response[0].driver_first_name }}</span></div>
            <div class="item">Last Name: <span>{{ data.response[0].driver_last_name }}</span></div>
            <div class="item">User ID: <span>{{ data.response[0].user_id }}</span></div>
        </div>

        {% elif page == "my_vehicles" %}
        <div class="card">
            <h3> My vehicles </h3>
            <div class="item">Display name: <span>{{ data[0].display_name }}</span></div>
            <div class="item">Vehicle ID: <span>{{ data[0].vehicle_id }}</span></div>
            <div class="item">VIN: <span>{{ data[0].vin }}</span></div>
        </div>

        {% elif page == "charging" %}
        <div id="SUC"></div>

        <script>
            const charge_data = {{ data | tojson }};
            const container = document.getElementById("SUC");

            charge_data.forEach(charge => {
                const newLink = document.createElement("a");
                const chargingDate = charge.chargeStartDateTime.slice(0,16).replaceAll('-', '. ').replace(/t/i, '. - ');

                newLink.className = "card-charging-link";
                newLink.href = "/"
                newLink.innerHTML = `
                    <div>
                        <h3>${chargingDate}</h3>
                        <span>${charge.siteLocationName}</span>
                    </div>
                `;
                container.appendChild(newLink);
            });

        </script>

        {% elif page == "monitor_charging" %}
        <div class= "card">
            <h3> Charging status </h3>
            <div class="item">{{ data }}</div>
        </div>

        {% elif page == "vehicle_unavailable" %}
        <div class= "card">
            <h3> Wake up your car </h3>
            <div class="item">{{ data }}</div>
        </div>
        <br>
        <a href="/vehicle_data" class="links">Get full vehicle data</a><br>

        {% else %}
            <p> Unknown page </p>
        {% endif %}

        <br>
        <a href="/" class="links">Return to homepage</a><br>
        <br>
        <a href="/logout" class="links">Logout</a>
  </body>
</html>
