
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyTsla</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
        <img src="{{ url_for('static', filename='images/mytsla.png') }}" alt="MyTsla logo" class="logo">

        {% if page == "me" %}
        <h2 class="titles"> Owner info </h2>
        <div class="card">
            <div class="item">Full Name: <span>{{ data.response.full_name }}</span></div>
            <div class="item">E-mail: <span>{{ data.response.email }}</span></div>
        </div>

        {% elif page == "drivers" %}
        <h2 class="titles"> Drivers info </h2>
        <div id="drivers"></div>

        <script>
            const drivers = {{ data | tojson }};
            const driversContainer = document.getElementById("drivers");

            drivers.response.forEach( driver => {
                const driversDiv = document.createElement("div");
                driversDiv.className = "card";
                driversDiv.innerHTML = `
                    <div class="item">First Name: <span>${driver.driver_first_name}</span></div>
                    <div class="item">Last Name: <span>${driver.driver_last_name}</span></div>
                    <div class="item">User ID: <span>${driver.user_id}</span></div>
                `;
                driversContainer.appendChild(driversDiv);
            });
        </script>

        {% elif page == "my_vehicles" %}
        <h2 class="titles"> My vehicles </h2>
        <div id="vehicles"></div>
        <script>
            const vehicleData = {{ data | tojson }};
            const vehicleContainer = document.getElementById("vehicles");

            vehicleData.forEach( vehicle => {
                const vehicleDiv = document.createElement("div");
                vehicleDiv.className = "card";
                vehicleDiv.innerHTML = `
                    <div class="item">Display name: <span>${vehicle.display_name}</span></div>
                    <div class="item">Vehicle ID: <span>${vehicle.vehicle_id}</span></div>
                    <div class="item">VIN: <span>${vehicle.vin}</span></div>
                `;
                vehicleContainer.appendChild(vehicleDiv);
            });
        </script>

        {% elif page == "options" %}
        <h2 class="titles">Options</h2>
        <div id="options" class="responsive-div"></div>
        <script>
            const optionsData = {{ data | tojson }};
            const optionsContainer = document.getElementById("options");

            optionsData.forEach( options => {
                const optionsDiv = document.createElement("div");
                optionsDiv.className = "card";
                optionsDiv.innerHTML = `
                    <div class="item"><span>${options.displayName}</span></div>
                    <div class="item">Active: <span>${options.isActive}</span></div>
                `;
                optionsContainer.appendChild(optionsDiv);
            });
        </script>

        {% elif page == "warranty" %}
        <h2 class="titles">Warranty</h2>
        <div id="warranty" class="responsive-div"></div>
        <script>
            const warrantyData = {{ data | tojson }};
            const warrantyContainer = document.getElementById("warranty");

            warrantyData.forEach( warranty => {
                const warrantyDiv = document.createElement("div");
                const expirationDateFormated = warranty.expirationDate.slice(0,16).replaceAll('-', '. ').replace(/t/i, '. - ');
                warrantyDiv.className = "card";
                warrantyDiv.innerHTML = `
                    <div class="item"><span>${warranty.warrantyDisplayName}</span></div>
                    <br>
                    <div class="item">Length: <span>${warranty.coverageAgeInYears} Years or ${warranty.expirationOdometer} ${warranty.odometerUnit}</span></div>
                    <div class="item">Expires on: <span>${expirationDateFormated}</span></div>
                    <br>
                    <div class="item">Expired on: <span>${warranty.warrantyExpiredOn}</span></div>
                `;
                warrantyContainer.appendChild(warrantyDiv);
            });
        </script>

        {% elif page == "charging" %}
        <h2 class="titles">Supercharging sessions</h2>
        <div class="responsive-div" id="SUC"></div>
        <script>
            const charge_data = {{ data | tojson }};
            const sucContainer = document.getElementById("SUC");

            charge_data.forEach(charge => {
                const newLink = document.createElement("a");
                const chargingDate = charge.chargeStartDateTime.slice(0,16).replaceAll('-', '. ').replace(/t/i, '. - ');

                newLink.className = "card-charging-link";
                newLink.href = "/"
                newLink.innerHTML = `
                    <div>
                        <h3>${chargingDate}</h3>
                        <span>${charge.siteLocationName}</span>
                    </div>
                `;
                sucContainer.appendChild(newLink);
            });
        </script>

        {% elif page == "monitor_charging" %}
        <div class= "card">
            <h2 class="titles"> Charging status </h2>
            <div class="item">{{ data }}</div>
        </div>

        {% elif page == "vehicle_unavailable" %}
        <h2 class="titles"> Wake up your car </h2>
        <div class= "card">
            <div class="item">{{ data }}</div>
        </div>
        <button class="buttons" onclick="window.location.href='/vehicle_data'">Get full vehicle data</button>

        {% else %}
            <p> Unknown page </p>
        {% endif %}

        <button class="buttons" onclick="window.location.href='/'">Return to homepage</button>
        <button class="tesla_login" onclick="window.location.href='/logout'">Logout</button>
  </body>
</html>
