<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crna strijela</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    <h1>Crna strijela</h1>
        <h3>Basic info</h3>
        <a href="/me" class="links">Owner info</a><br>
        <a href="/drivers" class="links">Additional drivers</a><br>
        <a href="/my_vehicles" class="links">My vehicles</a><br>

        <br>
        <h3>Car data</h3>
        <a href="/options" class="links">Options</a><br>
        <a href="/specs" class="links">Specs</a><br>
        <a href="/warranty" class="links">Warranty details</a><br>

        <br>
        <h3>Service</h3>
        <a href="/service_data" class="links">Service data</a><br>
        <a href="/recent_alerts" class="links">Recent alerts</a><br>
        <a href="/release_notes" class="links">Release notes</a><br>

        <br>
        <h3>Charging</h3>
        <a href="/charging" class="links">SUC charging data</a><br>
        <a href="/monitor_charging" class="links">Monitor charging</a><br>

        <br>
        <br>
        <a href="/logout" class="links">Logout</a>
  </body>
</html>
