<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crna strijela</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    <h1>Crna strijela</h1>
        <p>My page for using Tesla Fleet API.</p>
        <br>
        <a href="/me">Get my data</a><br>
        <a href="/drivers">Get drivers data</a><br>
        <a href="/vin">Get vin data</a><br>
        <a href="/charging">Get SUC charging data</a><br>
        <!-- <a href="/vehicle">Get vehicle data</a><br> -->
        <br>
        <a href="/monitor_charging">Start monitor charging</a><br>
        <br>
        <a href="/logout">Logout</a>
  </body>
</html>
